<% content_for :header do %>
	<div class="page-header position-relative">
		<h1>Dashboard</h1>
	</div><!--/page-header-->
<% end %>
<div class="row-fluid">
	<div class="span6">
		<div class="widget-box">
			<div class="widget-header">
				<h5>Summary</h5>
				<div class="widget-toolbar">
					<a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
					<a href="#" data-action="close"><i class="icon-remove"></i></a>
				</div>
			</div>
			
			<div class="widget-body">
				<div class="widget-main">
					<div class= "row-fluid" style="margin-left: 50px">
						<%= link_to instances_elements_path do %>
							<div class="infobox infobox-dark infobox-green" style="margin-top: 5px;">
								<div class="infobox-icon"><i class="icon-tasks"></i></div>
								<div class="infobox-data" style="margin-top: 10px;">
									<span class="infobox-content"><b>Instances</b></span>
									<br />
									<span class="infobox-content"></span>
								</div>
							</div>
						<% end %>
				
						<%= link_to volumes_elements_path do %>
							<div class="infobox infobox-dark infobox-blue" style="margin-top: 5px;">
								<div class="infobox-icon"><i class="icon-hdd"></i></div>
								<div class="infobox-data" style="margin-top: 10px;">
									<span class="infobox-content"><b>Volumes</b></span>
									<br />
									<span class="infobox-content"></span>
								</div>
							</div>
						<% end %>
					</div>
					<div class= "row-fluid" style="margin-left: 50px">
						<%= link_to snapshots_elements_path do %>
							<div class="infobox infobox-dark infobox-orange" style="margin-top: 5px;">
								<div class="infobox-icon"><i class="icon-camera"></i></div>
								<div class="infobox-data" style="margin-top: 10px;">
									<span class="infobox-content"><b>Snapshots</b></span>
									<br />
									<span class="infobox-content"></span>
								</div>
							</div>
						<% end %>
						
						<%= link_to root_path do %>
							<div class="infobox infobox-dark infobox-grey" style="margin-top: 5px;">
								<div class="infobox-icon"><i class="icon-time"></i></div>
								<div class="infobox-data" style="margin-top: 10px;">
									<span class="infobox-content"><b>Scheduled Snapshots</b></span>
									<br />
									<span class="infobox-content"></span>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="widget-box">
			<div class="widget-header header-color-green2">
				<h5 class="bigger lighter"><i class="icon-tasks"></i>Instances</h5>
				<div class="widget-toolbar">
					<a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
					<a href="#" data-action="close"><i class="icon-remove"></i></a>
				</div>
			</div>
			
			<div class="widget-body">
				<div class="widget-main no-padding" id="instances_summary">
					<!-- Content to be loaded using Ajax -->
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid">	
	<div class="span12">
		<div class="widget-box">
			<div class="widget-header widget-header-large">
				<h5>Scheduled Snapshots</h5>
				<div class="widget-toolbar">
					<a href="#" data-action="collapse"><i class="icon-chevron-up"></i></a>
					<a href="#" data-action="close"><i class="icon-remove"></i></a>
				</div>
			</div>
			
			<div class="widget-body">
				<div class="widget-main no-padding">
					<% sch_snap = current_user.scheduled_snapshots %>
					<table id="table_bug_report" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="center">Volume_id</th>
								<th>Description</th>
								<th>Repeat Type</th>
								<th>Start Date</th>
								<th>End Date</th>
								<th>Scheduled At</th>
							</tr>
						</thead>
					
						<tbody>
							<% sch_snap.each do |ss| %>
								<tr>
									<td><%= ss.volume_id %></td>
									<td><%= ss.description %></td>
									<td><%= ss.frequency %></td>
									<td><%= ss.start_date %></td>
									<td><%= ss.end_date %></td>
									<td><%= ss.created_at %></td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class="space-12">
	</div>
</div>
<script type='text/javascript'>
	window.onload = function() {
		$('li#nav-dashboard').addClass('active');
		return $list_instances_summary();
	};
</script>