<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<ul class="breadcrumb">
			<li><i class="icon-home"></i><a href="<%= root_path %>">Home</a><span class="divider"><i class="icon-angle-right"></i></span></li>
			<li class="active">Scheduled Snapshots</li>
		</ul>
	</div>
<% end %>
<% content_for :header do %>
	<div class="page-header position-relative row-fluid">
		<%= link_to "Export CSV", create_csv_scheduled_snapshots_path, class: "btn btn-primary btn-small", style: "float: right;" %>
		<h1>Scheduled Snapshots</h1>
	</div><!--/page-header-->
<% end %>

<div class="row-fluid">
	<div class="span12" style="margin-left:0px;" id="list-scheduled-snapshots">
		<table id="table_bug_report" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th class="center">Volume ID</th>
					<th>Description</th>
					<th>Repeat Type</th>
					<th class="hidden-phone">Start Date</th>
					<th class="hidden-phone">End Date</th>
					<th class="hidden-phone">Scheduled At</th>
					<th>Actions</th>
				</tr>
			</thead>
		
			<tbody>
				<% @scheduled_snapshots.each do |ss| %>
					<tr>
						<td><%= ss.volume_id.join(", ") %></td>
						<td><%= ss.description %></td>
						<td><%= ss.frequency %></td>
						<td class="hidden-phone"><%= ss.start_date %></td>
						<td class="hidden-phone"><%= ss.end_date %></td>
						<td class="hidden-phone"><%= ss.created_at %></td>
						<td>
							<div class="inline position-relative">
								<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-only"></i></button>
								<ul class="dropdown-menu dropdown-icon-only dropdown-light pull-right dropdown-caret dropdown-close">
									<li><a href="<%= scheduled_snapshot_path(ss)%>"  class="tooltip-success" data-rel="tooltip" title="View Details" data-placement="left"><span class="green"><i class="icon-list-alt"></i></span></a></li>
									<li>
										<%= link_to scheduled_snapshot_path(ss), data: {confirm: 'Are you sure?'}, :method => :delete, :class => "tooltip-warning", :"data-rel" => "tooltip", :title => "Drop Schedule", :"data-placement" => "left" do %>
											<span class="red"><i class="icon-trash"></i></span>
										<% end %>
									</li>
								</ul>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div><!--/span-->
</div><!--/row-->

<script type='text/javascript'>
	window.onload = function() {
		$('li#nav-snapshots').addClass('active');
	};
</script>
