<% content_for :header do %>
	<div class="page-header position-relative">
		<h1>Snapshot Details</h1>
	</div><!--/page-header-->
<% end %>

<div class="row-fluid">
	<div class="span4">
		<div class="widget-box">
			<div class="widget-header widget-header-small header-color-blue">
				<h5><i class="icon-list"></i> Basic Detail</h5>
			</div>
			
			<div class="widget-body">
				<div class="widget-main">
					<div class="row-fluid">
						<div class="span4">
							<b>Volume ID :</b>
						</div>
						<div class="span8">
							<%= @snapshot.volume_id %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span4">
							<b>Description :</b>
						</div>
						<div class="span8">
							<%= @snapshot.description %>
						</div>
					</div>
					<hr />
					<div class="row-fluid">
						<div class="span4">
							<b>Actions :</b>
						</div>
						<div class="span8">
							<%= link_to scheduled_snapshots_path, class: "btn btn-app btn-mini" do %>
								<i class="icon-undo"></i>
								Back
							<% end %>
							<%= link_to scheduled_snapshot_path(@snapshot), class: "btn btn-app btn-mini btn-danger", confirm: 'Are you sure?', method: :delete do %>
								<i class="icon-trash"></i>
								Drop
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="widget-box">
			<div class="widget-header widget-header-small header-color-orange">
				<h5><i class="icon-time"></i> Schedule Detail</h5>
			</div>
			
			<div class="widget-body">
				<div class="widget-main">
					<div class="row-fluid">
						<div class="span5">
							<b style="margin-left:20px;">Start Date :</b>
						</div>
						<div class="span7">
							<%= @snapshot.start_date.strftime('%b %-d, %Y') %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span5">
							<b style="margin-left:20px;">Start Time :</b>
						</div>
						<div class="span7">
							<%= @snapshot.start_time.strftime('%I:%M %p') %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span5">
							<b style="margin-left:20px;">End Date :</b>
						</div>
						<div class="span7">
							<%= @snapshot.end_date.strftime('%b %-d, %Y') %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span5">
							<b style="margin-left:20px;">Repeat Type :</b>
						</div>
						<div class="span7">
							<%= @snapshot.frequency %>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="widget-box">
			<div class="widget-header widget-header-small header-color-green">
				<h5><i class="icon-refresh"></i> Frequency</h5>
			</div>
			
			<div class="widget-body">
				<div class="widget-main">
					<div class="row-fluid">
						<% if @snapshot.frequency == "Hourly" %>
							<div class="span1"></div>
							<div class="span5">
								<ul class="unstyled spaced">
									<% (0..11).each do |i| %>
										<li>
											<%= content_tag :i, nil, class: @snapshot.time_of_day.include?(i.to_s) ? "icon-ok green" : "icon-remove red" %>
											&nbsp;&nbsp;
											<%= sprintf('%02d',i) %>:00 AM
										</li>
									<% end %>
								</ul>
							</div>
							<div class="span1"></div>
							<div class="span5">
								<ul class="unstyled spaced">
									<% (12..23).each do |i| %>
										<li>
											<%= content_tag :i, nil, class: @snapshot.time_of_day.include?(i.to_s) ? "icon-ok green" : "icon-remove red" %>
											&nbsp;&nbsp;
											<%= i==12 ? "12" : sprintf('%02d',i-12) %>:00 PM
										</li>
									<% end %>
								</ul>
							</div>
						<% elsif @snapshot.frequency == "Daily"%>
							<div class="span4"></div>
							<div class="span5">
								<ul class="unstyled spaced">
									<% ["Sunday", "Monday","Tuesday","Wednesday","Thrusday","Friday","Saturday"].each_with_index do |day, i| %>
										<li>
											<%= content_tag :i, nil, class: @snapshot.day_of_week.include?(i.to_s) ? "icon-ok green" : "icon-remove red" %>
											&nbsp;&nbsp;
											<%= day %>
										</li>
									<% end %>
								</ul>
							</div>
						<% elsif @snapshot.frequency == "Weekly"%>
							<div class="span2"></div>
							<div class="span8">
								Every <%= content_tag :b, @snapshot.start_date.strftime('%A') %> at <%= content_tag :b, @snapshot.start_time.strftime('%I:%M %p') %>
							</div>
						<% elsif @snapshot.frequency == "None"%>
							<div class="span12">
								Only once at <%= content_tag :b, @snapshot.start_time.strftime('%I:%M %p') %> on <%= content_tag :b, @snapshot.start_date.strftime('%a %b %-d, %Y') %>
							</div>
						<% elsif @snapshot.frequency == "Monthly"%>
							<div class="span4"></div>
							<div class="span5">
								<ul class="unstyled spaced">
									<% ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"].each_with_index do |month, i| %>
										<li>
											<%= content_tag :i, nil, class: @snapshot.month_of_year.include?((i+1).to_s) ? "icon-ok green" : "icon-remove red" %>
											&nbsp;&nbsp;
											<%= month %>
										</li>
									<% end %>
								</ul>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type='text/javascript'>
	window.onload = function() {
		$('li#nav-snapshots').addClass('active');
	};
</script>