<% content_for :header do %>
	<div class="page-header position-relative">
		<h1>Create Snapshot</h1>
	</div><!--/page-header-->
<% end %>

	<div class="span12">
		<div class="widget-box">
			<div class="widget-header widget-header-blue widget-header-flat wi1dget-header-large">
				<h4 class="lighter">Snapshot Scheduling Wizard</h4>
			</div>

			<div class="widget-body">
				<div class="widget-main">

					<div class="row-fluid">
						<div id="fuelux-wizard" class="row-fluid hidden">
							<ul class="wizard-steps">
								<li data-target="#step1" class="active"><span class="step">1</span> <span class="title">Select Volume</span></li>
								<li data-target="#step2"><span class="step">2</span> <span class="title">Select Schedule</span></li>
								<li data-target="#step3"><span class="step">3</span> <span class="title">Verify</span></li>
							</ul>
						</div>

						<hr />

						<div class="step-content row-fluid position-relative">
							<%= form_for ScheduledSnapshot.new, html: {id: 'validation-form', class: 'form-horizontal'} do |f| %>
								<div class="step-pane active" id="step1">
									<br />
									<br />

										<div class="control-group">
											<label class="control-label" for="volume_id">Volume ID</label>
											<div class="controls">
												<span class="span12">
													<%= f.select :volume_id, @volumes.map(&:volume_id), {selected: params[:volume_id]}, {class: "span3"} %>
												</span>
											</div>
										</div>
										
										<div class="control-group">
											<label class="control-label" for="description">Description</label>
											<div class="controls">
												<span class="span12">
													<%= f.text_area :description, :class => "span8"%>
												</span>
											</div>
										</div>
		
								
								</div>

								<div class="step-pane" id="step2">

										<div class="control-group">
											<label class="control-label" for="start_date">Start Date</label>
											<div class="controls input-append date" style="margin-left:20px;">
												<input class="span9 date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy" name="scheduled_snapshot[start_date]" />
												<span class="add-on"><i class="icon-calendar"></i></span>
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="end_date">End Date</label>
											<div class="controls input-append date" style="margin-left:20px;">
												<input class="span9 date-picker" id="id-date-picker-2" type="text" data-date-format="dd-mm-yyyy" name="scheduled_snapshot[end_date]" />
												<span class="add-on"><i class="icon-calendar"></i></span>
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="timepicker1">Time of Day</label>
											<div class="controls input-append bootstrap-timepicker" style="margin-left:20px;">
												<input id="timepicker1" type="text" class="input-small" name="scheduled_snapshot[start_time]"/>
												<span class="add-on"><i class="icon-time"></i></span>
											</div>
										</div>

										<div class="control-group">
											<label class="control-label" for="repeat_type">Repeat Type</label>
											<div class="controls">
												<span class="span12">
													<%= f.select :frequency, ["None", "Hourly", "Daily", "Weekly", "Monthly"],{}, {class: "span3", id: "frequency-type"} %>
												</span>
											</div>
										</div>

										<div class="control-group" id="schedule-Hourly" style="display:none;">
											<label class="control-label">Hours of Day</label>
											<div class="controls">
												<% (0..23).each do |x|%>
												<label>
													<%= check_box "scheduled_snapshot", "time_of_day[]", {:checked => true, :name => 'scheduled_snapshot[time_of_day][]'}, x, nil %>
													<span class="lbl"> <%= sprintf('%02d',x) %>:00</span>
												</label>
												<% end %>
											</div>
										</div>

										<div class="control-group" id="schedule-Daily" style="display:none;">
											<label class="control-label">Days of Week</label>
											<div class="controls">
												<% ["Sunday", "Monday","Tuesday","Wednesday","Thrusday","Friday","Saturday"].each_with_index do |day,i|%>
													<label>
														<%= check_box "scheduled_snapshot", "day_of_week[]", {:checked => true, :name => 'scheduled_snapshot[day_of_week][]'}, i , nil%>
														<span class="lbl"> <%= day %></span>
													</label>
												<% end %>
											</div>
										</div>

										<div class="control-group" id="schedule-Monthly" style="display:none;">
												<label class="control-label">Month of Year</label>
												<div class="controls">
													<% ["January", "Febuary", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"].each_with_index do |month, i|%>
														<label>
															<%= check_box "scheduled_snapshot", "month_of_year[]", {:checked => true, :name => 'scheduled_snapshot[month_of_year][]'}, i+1 ,nil%>
															<span class="lbl"> <%= month%></span>
														</label>
													<% end %>
												</div>
											</div>

									</div>

								<div class="step-pane" id="step3">
									<div class="center">
										<h3 class="blue lighter">Summary</h3>
									</div>

									<br/>

									<div class="control-group">
										<label class="control-label" for="volume_id"><b>Volume ID :</b></label>
										<div class="controls" style="margin-left:20px;padding-top:5px;padding-left:200px;">
											<span id="scheduled_snapshot[volume_id]"></span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="volumedescription"><b>Description :</b></label>
										<div class="controls" style="margin-left:20px;padding-top:5px;padding-left:200px;">
											<span id="scheduled_snapshot[description]"></span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="repeattype"><b>Repeat Type :</b></label>
										<div class="controls" style="margin-left:20px;padding-top:5px;padding-left:200px;">
											<span id="scheduled_snapshot[frequency]"></span>
										</div>
									</div>
									
									<div class="control-group">
										<label class="control-label" for="from"><b>From :</b></label>
										<div class="controls" style="margin-left:20px;padding-top:5px;padding-left:200px;">
											<span id="scheduled_snapshot[start_date]"></span> - 
											<span id="scheduled_snapshot[end_date]"></span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="timeat"><b>At :</b></label>
										<div class="controls" style="margin-left:20px;padding-top:5px;padding-left:200px;">
											<span id="scheduled_snapshot[start_time]"></span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label" for="repeat-on"><b>On :</b></label>
										<div class="controls" style="margin-left:20px;padding-top:5px;padding-left:200px;">
											<span id="repeaton"></span>
										</div>
									</div>
								</div>

							<% end %>
						</div>
						
						<hr />
						
						<div class="row-fluid wizard-actions">
							<button class="btn btn-prev"><i class="icon-arrow-left"></i> Prev</button>
							<button class="btn btn-success btn-next" data-last="Finish ">Next <i class="icon-arrow-right icon-on-right"></i></button>
						</div>
					</div>

				</div><!--/widget-main-->
			</div><!--/widget-body-->
		</div>
	</div>
</div>

<script type='text/javascript'>
	window.onload = function() {
		$('li#nav-actions').addClass('active open');
		$('li#nav-action-create-snap').addClass('active');
	};
	$(function() {

	$('[data-rel=tooltip]').tooltip();

	$(".chzn-select").css('width','150px').chosen({allow_single_deselect:true , no_results_text: "No such state!"})
	.on('change', function(){
		$(this).closest('form').validate().element($(this));
	}); 
	var $validation = false;
	$('#fuelux-wizard').ace_wizard().on('change' , function(e, info) {
		if(info.step == 2) {
			$('form input:text, form select, form textarea').each(function() {
			elem = document.getElementById($(this).attr('name'));
			if (elem != null)
				elem.innerHTML = $(this).val();
			});
			$selct = $('#frequency-type').val();
			var values = new Array();
			$('div#schedule-'+$selct+ ' input:checked').each(function() {
				values.push( $(this).siblings('span').html() );
			});
			$('#repeaton').html(values);
		}
	}).on('finished', function(e) {
		$('form').submit();
	});
});
</script>