<% if @instances.blank? %>
	<div class='well'>
		<center>No instances found</center>
	</div>
<% else %>
	<table id="table_bug_report" class="table table-striped table-bordered table-hover table-condensed">
		<thead>
			<tr>
				<th></th>
				<th class="center">Name</th>
				<th>Instance ID</th>
				<th class="hidden-phone">Instance Type</th>
				<th class="hidden-phone">Availabily Zone</th>
				<th class="hidden-phone">State</th>
				<th>Volumes</th>
				<th>Actions</th>
			</tr>
		</thead>
	
		<tbody>
			<% @instances.each do |instance| %>
				<tr>
					<td>
						<div class="control-group">
							<div class="controls">
								<input  id="instances_list" type="checkbox" name="instance[instance_id][]" value="<%= instance.instance_id %>" />
								<label for="instance[instance_id][]" class="lbl"></label>
							</div>
						</div>
					</td>
					<td>
						<%= instance.tag_set.find{|ts| ts[:key]=="Name"}[:value] if instance.tag_set.find{|ts| ts[:key]=="Name"}%>
					</td>
					<td><%= instance.instance_id %></td>
					<td class="hidden-phone"><%= instance.instance_type %></td>
					<td class="hidden-phone"><%= instance.placement.availability_zone %></td>
					<td class="hidden-phone">
						<% inst_state = instance.instance_state[:name] %>
						<%= content_tag :span, class: instance_state_class(inst_state) do %>
							<%= inst_state.camelize %>
						<% end %>
					</td>
					<td>
						<%= instance.block_device_mapping.map(&:ebs).map(&:volume_id).join(', ') %>
					</td>
					<td>
						<div class="inline position-relative">
							<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-only"></i></button>
							<ul class="dropdown-menu dropdown-icon-only dropdown-light pull-right dropdown-caret dropdown-close">
								<li><a href="<%= create_snapshot_aws_actions_path(instance_id: instance.instance_id)%>" class="tooltip-warning" data-rel="tooltip" title="Schedule Snapshot" data-placement="left"><span class="blue"><i class="icon-time"></i></span> </a></li>
							</ul>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<button id="schedule_instances" class="btn btn-small btn-primary hidden"><i class="icon-time"></i> Schedule Instances</button>
	<% if @next_token %>
		<div class="row-fluid">
			<div class="span6">
			</div>
			<div class="span6">
				<div class="dataTables_paginate paging_bootstrap pagination">
					<ul>
						<li class="next"><a id="<%= @next_token %>" class="load-more-instances" style="cursor:pointer">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
