<% if @volumes.blank? %>
	<div class='well'>
		<center>No volumes found for your account.</center>
	</div>
<% else %>
	<table id="table-volume" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Volume ID</th>
				<th>Capacity</th>
				<th class="hidden-phone">Volume Type</th>
				<th>Status</th>
				<th class="hidden-phone">Created At</th>
				<th>Actions</th>
			</tr>
		</thead>
	
		<tbody>
			<% @volumes.each do |volume|%>
				<tr>
					<td><%= volume.volume_id %></td>
					<td><%= volume.size %>GiB</td>
					<td class="hidden-phone"><%= volume.volume_type %></td>
					<td>
						<% vol_state = volume.status %>
						<%= content_tag :span, class: volume_state_class(vol_state) do %>
							<%= vol_state.camelize %>
						<% end %>
					</td>
					<td class="hidden-phone"><%= volume.create_time %></td>
					<td>
						<div class="inline position-relative">
							<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-only"></i></button>
							<ul class="dropdown-menu dropdown-icon-only dropdown-light pull-right dropdown-caret dropdown-close">
								<li><a id=<%= volume.volume_id%> class="tooltip-success create_instant_snapshot" data-rel="tooltip" title="Create Instant Snapshot" data-placement="left"><span class="green"><i class="icon-camera"></i></span></a></li>
								<li><a href="<%= create_snapshot_aws_actions_path(volume_id: volume.volume_id)%>" class="tooltip-warning" data-rel="tooltip" title="Schedule Snapshot" data-placement="left"><span class="blue"><i class="icon-time"></i></span> </a></li>
							</ul>
						</div>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
	
	<div id="created_snapshot" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Snapshot Created</h3>
		</div>
		<div class="modal-body">
			Snapshot creation initialized. You can see snapshot in <a href="/elements/snapshots"> Snapshots Tab</a>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
		</div>
	</div>
<% end %>