<% content_for :breadcrumbs do %>
	<div id="breadcrumbs">
		<ul class="breadcrumb">
			<li><i class="icon-home"></i><a href="<%= root_path %>">Home</a><span class="divider"><i class="icon-angle-right"></i></span></li>
			<li class="active">Profile</li>
		</ul>
	</div>
<% end %>
<% content_for :header do %>
	<div class="page-header position-relative">
		<h1>Profile Details</h1>
	</div><!--/page-header-->
<% end %>

<div class="row-fluid">
	<div class="span6">
		<div class="widget-box">
			<div class="widget-header widget-header-small header-color-blue">
				<h5><i class="icon-list"></i> Basic Detail</h5>
			</div>
			
			<div class="widget-body">
				<div class="widget-main">
					<div class="row-fluid">
						<div class="span5">
							<b style="margin-left:20px;float:right;">First Name :</b>
						</div>
						<div class="span7">
							<%= @user.first_name %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span5">
							<b style="margin-left:20px;float:right;">Last Name :</b>
						</div>
						<div class="span7">
							<%= @user.last_name %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span5">
							<b style="margin-left:20px;float:right;">Email :</b>
						</div>
						<div class="span7">
							<%= @user.email %>
						</div>
					</div>
					<hr />
					<div class="row-fluid">
						<div class="span5">
							<b style="margin-left:20px;float:right;">Actions :</b>
						</div>
						<div class="span7">
							<%= link_to change_password_path, class: "btn btn-default" do %>
								<i class="icon-undo"></i>
								Change Password
							<% end %>
							<%= link_to edit_user_registration_path, class: "btn btn-primary" do %>
								<i class="icon-edit"></i>
								Edit Details
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div class="widget-box">
			<div class="widget-header widget-header-small header-color-green">
				<h5><i class="icon-list"></i> Aws Details</h5>
			</div>
			
			<div class="widget-body">
				<div class="widget-main">	
					<div class="row-fluid">
						<div class="span5">
							<b style="margin-left:20px;float:right;">Access Key :</b>
						</div>
						<div class="span7">
							<%= @user.access_key %>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span5">
							<b style="margin-left:20px;float:right;">Secret Token :</b>
						</div>
						<div class="span7">
							<%= @user.secret_token %>
						</div>
					</div>
					<hr/>
					<div class="row-fluid">
						<div class="span5">
							<b style="margin-left:20px;float:right;">Actions :</b>
						</div>
						<div class="span7">
							<%= link_to edit_aws_creds_path, class: "btn btn-success" do %>
								<i class="icon-edit"></i>
								Edit Aws Credentials
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
